html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

.flex-hold-grow {
  flex-grow: 1
}

/* 阿里云的艺术字 */

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_wm3uuyqvv8.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_wm3uuyqvv8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_wm3uuyqvv8.woff2') format('woff2'), url('//at.alicdn.com/t/webfont_wm3uuyqvv8.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_wm3uuyqvv8.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_wm3uuyqvv8.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}

.web-font {
  font-family: "webfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 背景为花（图）的字的 --- 父元素 */

.css_flower_font {
  background-color: #fff;
  background-image: url(//oss.oylz.site/fhw_invite/car_flower.jpg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  background-position: -118px -80px;
}

.css_flower_font_8 {
  background-color: #fff;
  background-image: url(//oss.oylz.site/fhw_invite/car_flower.jpg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: flow_flower_background 8s infinite alternate 0s ease;
}

.css_flower_font_15 {
  background-color: #fff;
  background-image: url(//oss.oylz.site/fhw_invite/car_flower.jpg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: flow_flower_background 15s infinite alternate 0s ease;
}

@keyframes flow_flower_background {
  0% {
    background-position: -118px -86px;
  }
  100% {
    background-position: -160px -6px;
  }
}

/* 穿透字体 */

/* 
https://cssfx.dev/
一些cv即用的css特效。
*/

.css_fx_pillars {
  position: relative;
}

.css_fx_pillars::before, .css_fx_pillars::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #fc2f70;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.css_fx_pillars::before {
  left: -8px;
  transform-origin: center top;
}

.css_fx_pillars:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.css_fx_pillars::after {
  right: -8px;
  transform-origin: center bottom;
}

.css_fx_pillars:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}

/* ----------------------------- */

/* 毛玻璃的背景图设定 */

.filter_bg {
  background-image: url(//oss.oylz.site/1469.webp);
}